.texto_carrusel{
    color: #fff;
    background-image: url(../img/header_bg.png);
    opacity: 0.651;
    position: absolute;
    width: 450px;
    height: 400px;
    margin: 0;
    top: 50%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}