.fondo_posicion_carousel_caption{
    color: #fff;
    background-image: url(../img/header_bg.png);
    opacity: 0.8;
    background-size: 100% 100%;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 50%;
    padding: 30px;
}
.texto_carrusel_h3{
    margin-top: 44px;
    font-weight: bold;
    font-size: 40px;
}
.texto_carrusel_p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
}
.marpad{
    margin: 0;
    padding: 0;
}
.letra_peque{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}